footer {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#contact {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.contact_section {
    display: flex;
    flex-direction: column;
}

.contact_link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
    transition: transform 0.2s ease-in-out;
}

.contact_link img {
    width: 20px;
    height: 20px;
}

.contact_link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}